.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 85%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 37%
    right: 27%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 67%
    right: 80%
    width: 17%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 
.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 500px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.boton *, .boton--sm * 
  color: #fff !important
.barra-avance__boton--regresar span 
  color:#fff !important

.titulo-principal.color-acento-contenido .titulo-principal__numero
  background-color: #1836CB
.fondo01
  background-image: url('../assets/curso/Tema1/fondo01.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/Tema4/img06.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 

.titulo-sexto.color-acento-contenido 
  border-left-color: #8CE6FE

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50px
  height: 50px
  background-color: #A60D29
  border: 1px solid #D8ECFF
  background-image: url('../assets/curso/Tema1/up.svg')
.slyder-a__bullets__item--active 
  background-color: #A60D29
  border-color: #A60D29
  opacity: 1
.acordion__accion__btn--b
  background-color: #A60D29 !important
  border-color: #A60D29 !important
.fa-angle-down 
  --fa: "\f107"
  color: #fff !important
.fa-angle-up 
  --fa: "\f106"
  color: #fff !important
.acordion .tarjeta--azul
  background-color:  #6FADED !important 
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #C5DEF8 !important
.titulo-segundo:after 
  border-left-color: #A60D29
.tarjeta.color-acento-botones--borde
  background-color: #E2EFFC
  border: #E2EFFC
.tabs-a__tab 
   background-color: #F5A3BC !important
.tabs-a__tab   
  display: block
  width: 100%
  text-align: left
  padding: 15px 20px
  border-radius: 5px
  line-height: 1.2em
  &__text
    overflow: hidden
    text-overflow: ellipsis 
    white-space: normal 
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #A60D29 !important
  color: #fff
.izq
  margin-left: -0.7rem
.der
  margin-left: 0.7rem
.bg01
  background-color: #C5DEF8
.bg001
  background-color: #C5DEF8
  border-radius: 20px
.bg02
  background-color: #E2EFFC
.bg002
  background-color: #E2EFFC
  border-radius: 20px
.bg03
  background-color: #A2AEEA
.bg04
  background-color: #F5A3BC
  border-radius: 20px
.bg05
  background-color: #D7D1E3
  border-radius: 20px
.bg06
  background-color: #F5A3BC
.bg07
  background-color: #B0A3C8
.bg08
  background-color: #F5A3BC
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right 
  border: 2px solid #A60D29 !important
  background-color: #A60D29 !important
.pasos-b__header__item__dot 
  background-color: #A60D29 
.pasos-b.color-acento-botones .pasos-b__header__item--active .pasos-b__header__item__dot 
  border-color: #E2EFFC
  background-color: #E2EFFC
.pasos-b.color-acento-botones .pasos-b__header__item--active .pasos-b__header__item__dot span 
  color: #12263F 
.pasos-b__header__item__dot span, .pasos-b__header__item__dot i 
    color: #12263F 
.pasos-b__header__item__dot span, .pasos-b__header__item__dot i 
  color: #fff 
.pasos-b__header__item--before .pasos-b__header__item__dot 
  border-color: #E2EFFC
  background-color: #E2EFFC
.pasos-b__header__item--before .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:after 
  background-color: #9D9D9D
.pasos-b__header__item--active .pasos-b__header__item__line-container:before 
  background-color: #9D9D9D
.fa-angle-right 
  --fa: "\f105"
  color: #fff !important
.fa-angle-left 
  --fa: "\f104"
  color: #fff !important
.tarjeta--gris2 
  background-color: #fff !important


